.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: var(--page_height);
}
.wrap button {
  background-color: rgb(93, 189, 93);
}
