.wrap {
  /* background-color: var(--light_blue2); */
  /* background-color: var(--orange1); */
  background-color: var(--orange2);
  padding: var(--padding);
  height: var(--page_height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}
.wrap h2 {
  font-size: 32px;
}
