.wrap {
  background-color: var(--white);
  /* border: 2px solid rgb(204, 23, 23); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em 0 3em;
  height: 3em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  /* top: 3em; */
}
.wrap img {
  cursor: pointer;
}
.menuItem {
  /* border: 2px solid red; */
  display: flex;
  gap: 1em;
}
