* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --light_blue1: #97ccd0;
  --light_blue2: #00bcce;
  --dark_blue1: #062964;
  --dark_blue2: #00447d;
  --orange1: #ff764c;
  --orange2: #ff450c;
  --black: #333;
  --white: #ffffff;
  --gray: #d0d1d3;
  --mobile: 768px;
  --page_height: calc(100vh - 5em);
}
body {
  color: #333;
}
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-top: 5em;
  width: 100%;
}
