/* --mobile: 1023px; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --light_blue1: #97ccd0;
  --light_blue2: #00bcce;
  --dark_blue1: #062964;
  --dark_blue2: #00447d;
  --orange1: #ff764c;
  --orange2: #ff450c;
  --black: #333;
  --white: #ffffff;
  --gray: #d0d1d3;
  --mobile: 768px;
  --page_height: calc(100vh - 5em);
  --padding_no_bottom: 1em 2em 0 2.5em;
  --padding: 1em 2em 3.5em 2.5em;
}
body {
  color: #333;
}
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-top: 5em;
  width: 100%;
}
.loader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--white);
  z-index: 9999;
}
.loader {
  width: 100px;
  height: 100px;
  border: 1em solid var(--black);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.regularNav {
  display: none;
}

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }
  .regularNav {
    display: block;
  }
}
@media (min-width: 1023px) {
  :root {
    --padding: 1em 2em 0 2.5em;
  }
}
