.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap input {
  width: 100%;

  border: 1px solid var(--gray);
  border-radius: 10px;
  overflow: hidden;
  padding: 1em;
}
.wrap input::placeholder {
  color: var(--gray);
}

.wrap input::placeholder {
  color: var(--gray);
}
.wrap input:focus {
  outline: none;
}
