.wrap {
  min-height: var(--page_height);
  display: flex;
  flex-direction: column;
  /* padding: 0.5em 2em; */
  gap: 1em;

  justify-content: space-between;
  /*TODO:*/
  /* padding-bottom: 4em; */
  padding: 1em 2em 4em 2.5em;
}
.img {
  align-self: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
/* .content::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  } */
.quote {
  width: 100%;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/*TODO:*/
.newContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardWrap {
  height: calc(var(--page_height) / 3);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardWrap h2 {
  margin-bottom: 0.3em;
}
