.wrap {
  min-height: var(--page_height);
  padding: var(--padding);
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.wrap h1 {
  font-size: 3em;
}
.reset {
  border: 2px solid black;
  padding: 0.5em;
}
