.wrap {
  height: 100%;
  width: 100%;
}
.formWrap {
  display: flex;
  justify-content: center;
}
.wrap form {
  height: 100%;
  width: 100%;
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}
@media (min-width: 768px) {
  .wrap form {
    width: 70%;
  }
}
