.wrap {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.quote {
  background-color: var(--white);
  text-align: center;
  padding: 0.5em 2em;
}
